{% extends 'base.html' %}

{% block title %}
Gradebook Home
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3 class="m-4">Gradebook Home</h3>
    <div class="row">
        <div class="col-12">
            <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-list"></i>
                </div>
                <div class="card-body">
                    <p>Welcome to the Gradebook Home. Choose an option from the navigation above to get started.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
